page-service-request-show {

  ion-card-header > ion-title > div {
    white-space: normal !important;
  }

  ion-card-header {
   white-space: normal;
 }

  .top_header_pending{
    border-top:10px solid #FFDB4F;

  }

  .top_header_closed{
    border-top:10px solid #24BF61;

  }
  .top_header_allocated{
    border-top:10px solid #3747FF;

  }

.top_header_resolved{
    border-top:10px solid #61267D;

  }
.top_header_completed{
    border-top:10px solid black;
  }

  .top_header_undefined{
    border-top:10px solid grey;
  }
  .top_header_{
    border-top:10px solid grey;
  }
}
