page-service-request {

}

ul{
  float: left;
}

.right-tab{
width:50%;border:1px solid black;
  text-align: center;
  height: 100%;
}

left-tab{

  width:50%;border:1px solid black;
}
.pull-right
{
  float: right;
}
.sr-age{
  font-style: italic;
  font-size:0.8em;
}
