<!--
  Generated template for the MaintenanceRequestFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <!-- <ion-title>New Facility Request</ion-title> -->

    <ion-title>Add New Beneficiary</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form #form="ngForm"  >
    <ion-list>


        <ion-item>
            <ion-label stacked floating color="primary" >Code</ion-label>
           <ion-input name="code" type="number" [(ngModel)]="Addbeneficiary.code" required></ion-input>
         </ion-item>
         <ion-item>
            <ion-label stacked floating color="primary">Surveyor ID</ion-label>
           <ion-input name="user_id"  [readonly]="isReadonly"  [(ngModel)]="Addbeneficiary.user_id" required></ion-input>
         </ion-item>
        <ion-item>
            <ion-label stacked floating color="primary">Firstname</ion-label>
           <ion-input name="firstname" type="text" [(ngModel)]="Addbeneficiary.firstname" required></ion-input>
         </ion-item>
         <ion-item>
            <ion-label stacked floating color="primary">Middlename</ion-label>
           <ion-input name="middlename" type="text" [(ngModel)]="Addbeneficiary.middlename" required></ion-input>
         </ion-item>
         <ion-item>
            <ion-label stacked floating color="primary">Lastname</ion-label>
           <ion-input name="lastname" type="text" [(ngModel)]="Addbeneficiary.lastname" required></ion-input>
         </ion-item>
          <ion-item> 
          <ion-label stacked floating color="primary">Age</ion-label>
          <ion-input name="age" type="number" [(ngModel)]="Addbeneficiary.age" required></ion-input>
      </ion-item>



      <ion-list  radio-group [(ngModel)]="Addbeneficiary.gender" name="gender" >
        <ion-list-header><strong>Gender</strong></ion-list-header>
          <ion-item >
              <ion-label>Male</ion-label>
              <ion-radio value="Male"></ion-radio>
          </ion-item>
          <ion-item >
              <ion-label>Female</ion-label>
              <ion-radio value="FeMale"></ion-radio>
          </ion-item>
          <ion-item >
              <ion-label>Other</ion-label>
              <ion-radio value="other"></ion-radio>
          </ion-item>
      </ion-list>





    <ion-item> 
          <ion-label stacked floating color="primary">Birth Date</ion-label>
          <ion-datetime  name="date_of_birth"  displayFormat="MM/DD/YYYY"  [(ngModel)]="Addbeneficiary.date_of_birth" ></ion-datetime>
      </ion-item>
      <ion-item> 
          <ion-label stacked floating color="primary">House Hold ID  </ion-label>
          <ion-input name="household_id" type="number" [(ngModel)]="Addbeneficiary.household_id" required></ion-input>
      </ion-item>
      <ion-item> 
          <ion-label stacked floating color="primary">Village ID</ion-label>
          <ion-input name="village_id" type="number" [(ngModel)]="Addbeneficiary.village_id" required></ion-input>
      </ion-item>
      <ion-item> 
          <ion-label stacked floating color="primary">Family Head Id</ion-label>
          <ion-input name="family_head_id" type="number" [(ngModel)]="Addbeneficiary.family_head_id" required></ion-input>
      </ion-item>
      <ion-item> 
          <ion-label stacked floating color="primary">Contact Number</ion-label>
          <ion-input name="contact_number" type="number" [(ngModel)]="Addbeneficiary.contact_number" required></ion-input>
      </ion-item>
      <ion-item> 
          <ion-label stacked floating color="primary"> Whatsapp Number</ion-label>
          <ion-input name="whatsapp_number" type="number" [(ngModel)]="Addbeneficiary.whatsapp_number" required></ion-input>
      </ion-item>
      <ion-item> 
        <ion-label stacked floating color="primary">Relation With Family head  </ion-label>
        <ion-input name="family_head_relation" type="text" [(ngModel)]="Addbeneficiary.family_head_relation" required></ion-input>
    </ion-item>
    </ion-list>
    <button ion-button (click)="logForm(form)" type="submit" [disabled]="!form.valid" block>Create Beneficiary 
      </button>  
  
  </form>
</ion-content>






<!-- <ion-content padding>
  <form #form="ngForm">
    <ion-item>
      <ion-label color="primary" stacked>Assets</ion-label>
      <ion-select [(ngModel)]="maintenanceRequest.maintenanceasset_id" name="maintenanceasset_id"
                  placeholder="Select Asset"
                  required interface="popover"><button ion-button (click)="logForm(form)" type="submit" [disabled]="!form.valid" block>Create Facility Request
    </button>
        <ion-option value={{asset.uid}} *ngFor="let asset of assets">{{asset.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Location</ion-label>
      <ion-select  [(ngModel)]="maintenanceRequest.location" name="location">
        <ion-option *ngFor="let l of locations" [value]="l">{{l}}</ion-option>
      </ion-select>
    </ion-item>



    <ion-item>
      <ion-label color="primary" stacked>Details</ion-label>
      <ion-textarea autoresize [(ngModel)]="maintenanceRequest.detail" name="detail" required minLength="1"></ion-textarea>
    </ion-item>

    <button ion-button (click)="logForm(form)" type="submit" [disabled]="!form.valid" block>Create Facility Request
    </button>
  </form>
</ion-content> -->





