<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>677643899905-q2601b5k95g82hei74nu9jag8n9c30so.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.677643899905-q2601b5k95g82hei74nu9jag8n9c30so</string>
	<key>API_KEY</key>
	<string>AIzaSyClhsPzjeHIfhYJ3hkhGIIKHEpKNpqT594</string>
	<key>GCM_SENDER_ID</key>
	<string>677643899905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.linkwok.dfivdp</string>
	<key>PROJECT_ID</key>
	<string>intraner-c9984</string>
	<key>STORAGE_BUCKET</key>
	<string>intraner-c9984.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677643899905:ios:5d029df6625e762d</string>
	<key>DATABASE_URL</key>
	<string>https://intraner-c9984.firebaseio.com</string>
</dict>
</plist>