<!--
  Generated template for the MaintenanceRequestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Beneficiaries</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-searchbar color="primary" [(ngModel)]="queryText" placeholder="Search"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="refreshMaintenanceRequestList($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-card
      *ngFor="let maintenanceRequest of maintenanceRequests | search : {term:queryText,fields:['beneficiary_name']}"  (click)="EditUserProfile(maintenanceRequest.id)" [hidden]="maintenanceRequests.hide">
      <div class="{{'maintenance_request_state_sidebar_'+maintenanceRequest.state}}">
        <ion-card-header >
          CODE: {{maintenanceRequest.code}} 
          <span class="pull-right sr-age"><p>Age: <strong type="number">{{maintenanceRequest.age}}</strong></p></span>
        </ion-card-header>

        <ion-card-content>
          <p>Name:           <strong>{{maintenanceRequest.beneficiary_name}}</strong></p>
          <p>Gender:         <strong>{{maintenanceRequest.gender}}</strong></p>
          <p>DOB:  <strong>{{maintenanceRequest.date_of_birth}}</strong></p>
          <p>Contact Number: <strong><a href="#" (click)='call(maintenanceRequest.contact_number)'>{{maintenanceRequest.contact_number}}</a></strong></p>
          <p>Whatsapp Number:<strong>{{maintenanceRequest.whatsapp_number}}</strong> </p>
          <p>Household ID:   <strong>{{maintenanceRequest.household_id}}</strong> </p>

        </ion-card-content>

        <ion-row *ngIf="maintenanceRequest.resolved">
          <ion-col>
            <div class="pull-right">
              <p>Closed By: <strong>{{maintenanceRequest.resolver}}</strong></p>
              <p>Closed At: <strong>{{maintenanceRequest.resolved_on}}</strong></p>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-badge class="pull-right">{{maintenanceRequest.state}}</ion-badge>
          </ion-col>
        </ion-row>
      </div>
    </ion-card>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab (click)="goToMaintenanceRequestForm()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
