page-question-image {
    .next {
        width: 40%;
        float: right;
    }
    .prv {
        width: 40%;
        float: left;
    }
    .bckSurveyPage {
        width: 100%;
        text-align: center;
    }
    .submit {
        width: 100%;
        text-align: center;
    }
    .next-prv-div{
        margin: 60px 15px;
    }

}
