<!--
  Generated template for the QuestionTextboxPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton>
    <ion-title >Survey Started</ion-title>
    <!-- <ion-buttons right class="bckSurveyPage"> -->
        
      <button ion-button (click)="goTosurveylist()" class="bckSurveyPage">Survey List</button>
      
    <!-- </ion-buttons> -->
    
  </ion-navbar>

</ion-header>

<ion-content padding>
  <h1><strong>
      <p class="item-text-wrap">{{Quesion_number}}. {{question}}</p>
    </strong>
  </h1>
  <form #form="ngForm">

    <hr>
    <ion-item>
    
      <ion-input name="option_text" *ngIf="rule_validate == 'TextBox-Date'" type="date" placeholder="" [(ngModel)]="answer.option_text" required></ion-input>
      <ion-input name="option_text" *ngIf="rule_validate == 'TextBox-Numeric'" type="number" placeholder="" [(ngModel)]="answer.option_text" required></ion-input>
      <ion-input name="option_text" *ngIf="rule_validate != 'TextBox-Numeric' && rule_validate != 'TextBox-Date'" type="text" placeholder="" [(ngModel)]="answer.option_text" required></ion-input>
    
    </ion-item>
    <hr>
    <div class="next-prv-div">
      <button ion-button *ngIf="is_last == 0" (click)="goToPrev('a')" type="submit" [disabled]="!form.valid"class="prv">Previous</button>
      <button ion-button *ngIf="is_last == 0" (click)="goToNext()" type="submit" [disabled]="!form.valid"  class="next">Next</button>
      <button ion-button *ngIf="is_last == 1" (click)="submit()" class="submit">Submit</button>
    </div>
  </form>

</ion-content>