<!--
  Generated template for the GuestLunchFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>New Guest Lunch Request</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form #form="ngForm">
    <ion-item>
      <ion-label fixed color="primary">No. of Guests</ion-label>
      <ion-input type="number"  text-right  [(ngModel)]="guestLunch.no_of_people" name="no_of_people"
                 placeholder="Enter No. of Guests" min="1" max="50" step="1" pattern="(0*)([1-9])+(0*)" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Date of Lunch</ion-label>
      <ion-datetime [(ngModel)]="guestLunch.date_of_lunch" name="date_of_lunch" displayFormat="DDDD MMM DD, YYYY"
                    min="{{minDate}}" placeholder="Select Date" required (ionChange)="performValidation('date')"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Location</ion-label>
      <ion-select  [(ngModel)]="guestLunch.lunch_location" name="lunch_location" (ionChange)="performValidation('loc')">
        <ion-option *ngFor="let l of lunchLocations" [value]="l">{{l}}</ion-option>


      </ion-select>
    </ion-item>

   <ion-item *ngIf="displayCategories">
      <ion-label>Category</ion-label>
      <ion-select  [(ngModel)]="guestLunch.lunch_category" name="lunch_category">

        <ion-option *ngFor="let category of listedCategories" [value]="category[1]" >{{category[0]}}</ion-option>


      </ion-select>
    </ion-item>


  <ion-item *ngFor="let t of lunchTypes" >
      <ion-label>{{t[0]}}</ion-label>
      <ion-input type="number" text-right [(ngModel)]="guestLunch[t[1]]" name="{{t[1]}}" min="0" max="50" step="1" pattern="([0-9])+" required aria-placeholder="Enter number">
      </ion-input>
    </ion-item>


<ion-item>
  <ion-textarea [(ngModel)]="guestLunch.remarks" name="remarks"
             placeholder="Enter remarks if any" ></ion-textarea>

</ion-item>

    <button ion-button (click)="logForm(form)" type="submit" [disabled]="!form.valid" block>Create Guest Lunch Request
    </button>
  </form>
</ion-content>
