<!--
  Generated template for the SuervyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>SuervyPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>{{question}}</p>

  <hr>
  <!-- <ion-input type="text" placeholder="Test Placeholder" ></ion-input> -->
  <ion-input type="text" placeholder="Test Placeholder" [(ngModel)]="answer.option_text"></ion-input>
  <hr>
  <button ion-button *ngIf="is_last == 1" (click)="submit()"  >Submit</button> 
  
  <button ion-button  *ngIf="is_last == 0" (click)="goToNext('a')" >Next</button>
  <button ion-button *ngIf="is_last == 0" (click)="goToPrev('a')">Previous</button>
</ion-content>
