page-leave-details {
ion-row.holiday-item{
  text-align: center;
  border-right: 1px;
  font-weight:bold;
  display: flex;
  align-items: center;
  justify-content: center;
  .day{
    font-size: 2em;
  }
}

  ion-card-content{
    text-align: left;
  }
}
