<!--
  Generated template for the VisitingCardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Visiting Card Requests</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-searchbar color="primary" [(ngModel)]="queryText" placeholder="Search"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="refreshVisitingCardList($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-card
      *ngFor="let visitingCard of visitingCards | search : {term:queryText,fields:['uid','name','mobile_no', 'landline']}">
      <div class="{{'visiting_card_state_sidebar_'+visitingCard.state}}">
        <ion-card-header>
          {{visitingCard.uid}}
          <span class="pull-right sr-age">{{visitingCard.age}}</span>
        </ion-card-header>

        <ion-card-content>
          <h1>{{visitingCard.name}}</h1>
          <h2>{{visitingCard.designation}}</h2>
          <h2>{{visitingCard.company_name}}</h2>
          <hr/>
          <p>
            <ion-icon name="pin"></ion-icon>&nbsp;{{visitingCard.company_address}}
          </p>
          <p>
            <ion-icon name="mail"></ion-icon>&nbsp;{{visitingCard.email}}
          </p>
          <p>
            <ion-icon name="phone-portrait"></ion-icon>&nbsp;{{visitingCard.mobile_no}}
          </p>
          <p>
            <ion-icon name="call"></ion-icon>&nbsp;{{visitingCard.landline}}
          </p>
        </ion-card-content>

        <ion-row *ngIf="visitingCard.approved">
          <ion-col>
            <div class="pull-right">
              <p>Approved By: <strong>{{visitingCard.approved_by}}</strong></p>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-badge class="pull-right">{{visitingCard.state}}</ion-badge>
          </ion-col>
        </ion-row>
      </div>
    </ion-card>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab (click)="goToVisitingCardForm()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
