<!--
  Generated template for the GuestLunchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Guest Lunch Requests</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-searchbar color="primary" [(ngModel)]="queryText" placeholder="Search"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="refreshGuestLunchList($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-card
      *ngFor="let guestLunch of guestLunches | search : {term:queryText,fields:['uid','date_of_lunch','no_of_people']}">
      <div class="{{'guest_lunch_state_sidebar_'+guestLunch.state}}">
        <ion-card-header>
          {{guestLunch.uid}}
          <span class="pull-right sr-age">{{guestLunch.age}}</span>
        </ion-card-header>

        <ion-card-content>
          <p>Date of Lunch: <strong>{{guestLunch.date_of_lunch}}</strong></p>
          <p>No. of Guests: <strong>{{guestLunch.no_of_people}}</strong></p>
        </ion-card-content>

        <ion-row *ngIf="guestLunch.accepted">
          <ion-col>
            <div class="pull-right">
              <p>Approved By: <strong>{{guestLunch.accepted_by}}</strong></p>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-badge class="pull-right">{{guestLunch.state}}</ion-badge>
          </ion-col>
        </ion-row>
      </div>
    </ion-card>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab (click)="goToGuestLunchForm()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
